$baseFont: 'Proxima Nova Rg';
$white: #ffffff;
$basecolor: #1b3741;
$basecolor2: #122a33;
$greenbg: #6bc6af;
$yellow: #f1c94f;
$greenbg: #6BC6AF;
$footerbg: #16232E;
$greyBg:#93A4A2;
$gradient: linear-gradient(180deg, #122a33 0%, #1b3741 115.26%, rgba(107, 198, 175, 0) 314.33%);
$gradient2: linear-gradient(181deg,#122a33 -46.54%,#1b3741 5.87%,rgba(107, 198, 175, 0) 311.94%);
$graident3: linear-gradient(180deg,#122a33 -33.67%,#1b3741 -40.27%, rgba(107, 198, 175, 0) 314.04%);
$gradient4:linear-gradient(180deg, #1B3741 -6.06%, #173742 90.56%);
$hoverbg:#285768;
